{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}


    <!-- Building Materials-->
    <section>
      <div class="building_materials flex justify_center">
        <div class="container justify_between">
          <div class="material_navigation">
            <button class="btn_light bbtn">
              <a href="{% url 'home' %}"><img src="{% static 'main/images/back.png' %}" alt="<" > {% trans 'Back' %}</a>
            </button>
            <h1>{% trans 'Qurilish materiallari' %}</h1>
            <div class="nav_bars">
              <ul>
                <li>
                  <a href="#" class="active"
                    >Lorem Ipsum is simply dummy text
                  </a>
                </li>
                <li>
                  <a href="#" class="black"
                    >Lorem Ipsum is simply dummy text
                  </a>
                </li>
                <li>
                  <a href="#" class="black"
                    >Lorem Ipsum is simply dummy text
                  </a>
                </li>
                <li>
                  <a href="#" class="black"
                    >Lorem Ipsum is simply dummy text
                  </a>
                </li>
                <li>
                  <a href="#" class="black"
                    >Lorem Ipsum is simply dummy text
                  </a>
                </li>
                <li>
                  <a href="#" class="black"
                    >Lorem Ipsum is simply dummy text
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="material_section">
            {% for p in products %}
            <div class="material">
              <div class="mimg">
                <img src="{{p.image.url}}" alt="material" />
              </div>
              <h1>{{p.title}}</h1>
              <p>
                {{p.image.body}}
              </p>
              <a href="{% url 'buildingdata' p.group_id p.id  %}"
                >{% trans 'View more' %} <img src="{% static 'main/images/bluearight.png' %}" alt=">"
              /></a>
            </div>
            {% endfor %}
          </div>
          <div class="material_section">
          {% for p in products1 %}
            <div class="material">
              <div class="mimg">
                <img src="{{p.image.url}}" alt="material" />
              </div>
              <h1>{{p.title}}</h1>
              <p>
                {{p.image.body}}
              </p>
              <a href="{% url 'buildingdata' p.group_id p.id  %}"
                >{% trans 'View more' %} <img src="{% static 'main/images/bluearight.png' %}" alt=">"
              /></a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
<script src="{% static 'main/JS/main.js' %}"></script>
{% endblock %}
