{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/CSS/style.css' %}" />
    <title>{% trans 'Chemical' %}</title>
  </head>
  <body>
    <div class="overlay none" id="overlay"></div>

    <!-- Nav -->
     <nav class="flex justify_center">
        <div class="container justify_center">
          <div class="burMenu none" id="bur-menu">
            <button class="close" onclick="closeNav()">
              <img src="{% static 'main/images/close.png' %}' %}" alt="" />
            </button>
            <ul class="ul">
              <li><a href="#about">{% trans "About us" %}</a></li>
              <li><a href="{% url 'product' %}">{% trans "Products" %}</a></li>
              <li><a href="{% url 'media' %}" target="_self">{% trans  "Media" %}</a></li>
              <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
            </ul>
          </div>
          <div class="navbar">
            <div class="navbarText">
              <div class="logo">
                <a href="{% url 'home' %}">
                  <img src="{% static 'main/images/logo.png' %}" alt="logo" />
                </a>
              </div>
              <div class="burgerMenu">
                <img
                  src="{% static 'main/images/icons/burger_menu.png' %}"
                  alt="menu"
                  class="burger_menu"
                  onclick="openNav()"
                />
              </div>
              <div class="menu">
                <ul class="flex justify_center align_center">
                  <li><a href="#about">{% trans "About us" %}</a></li>
              <li><a href="{% url 'product' %}">{% trans "Products" %}</a></li>
              <li><a href="{% url 'media' %}" target="_self">{% trans  "Media" %}</a></li>
              <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
                </ul>
              </div>
            </div>
            <div class="lang">
              <img src="{% static 'main/images/icons/Globe.png' %}" alt="Globe" />
              <div class="dropdown">
                <div class="drop_btn flex align_center justify_center">
                  {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
                  <button class="dropbtn_item" onclick="openDrop()">{{LANGUAGE_CODE}}</button>
                  <img
                    src="{% static 'main/images/icons/fi-rr-angle-small-down.png' %}"
                    alt="Down"
                    onclick="openDrop()"
                  />
                </div>
                <div class="dropdown-content none" id="dropdown-content">
                  {% for lang in languages %}

              <a class="dropdown-item" href="/{{ lang.code }}/">
                  {{ lang.name_local }}
              </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    <!-- Building Datas-->
    <section
      class="building_datas flex justify_center flex_column align_center"
    >
      <div class="container back_btn_left">
        <button class="btn_light bbtn back_btn">
          <a href="javascript:history.back()"
            ><img src="{% static 'main/images/back.png' %}" alt="<" /> {% trans 'Back' %}</a
          >
        </button>
      </div>
      <div class="container align_center justify_center">
        <div class="materials_datas">
          <div class="material_data1 flex align_center justify_between">
            <div class="img_datas">
              <img src="{{item.image.url}}" alt="material" />
            </div>
            <div class="characters flex flex_column justify_between">
              <h1>{{item.title}}</h1>
              <p class="paragrapgh">
                {{item.body}}
              </p>
              <div class="characs">
                <div class="characs_conten flex justify_between align_center">
                  <p>Shape</p>
                  <div class="hr_item"></div>
                  <h3>{{item.shape}}</h3>
                </div>
                <div class="characs_conten flex justify_between align_center">
                  <p>Weight</p>
                  <div class="hr_item"></div>
                  <h3>{{item.weight}}</h3>
                </div>
                <div class="characs_conten flex justify_between align_center">
                  <p>Color</p>
                  <div class="hr_item"></div>
                  <h3>{{item.color}}</h3>
                </div>
                <div class="characs_conten flex justify_between align_center">
                  <p>Packing specifications</p>
                  <div class="hr_item"></div>
                  <h3>{{item.packing_specifications}}</h3>
                </div>
              </div>
              <button class="btn buildbtn" id="send">{% trans 'Order now' %}</button>
            </div>
          </div>
          <div class="material_data2_all">
            <div class="material_tit flex align_center justify_between">
              <h1>{% trans "Similar products"%}</h1>
            </div>
            <div class="material_data2 flex align_center justify_between">
              <div class="slider_btn">
                <button class="btn left_arr">
                  <img src="{% static 'main/images/icons/allow_right.png' %}" alt="<" />
                </button>
                <button class="btn right_arr">
                  <img src="{% static 'main/images/icons/allow_right.png' %}" alt=">" />
                </button>
              </div>

              <div class="slider_container">
                <div class="buldingItems_slide">
                 {%for p in objs%}
                  <div class="material">
                    <div class="mimg">
                      <img src="{{p.image.url}}" alt="material" />
                    </div>
                    <h1>{{p.title}}</h1>
                    <p>
                      {{p.image.body}}
                    </p>
                    <a href="{% url 'buildingdata' p.group_id p.id %}"
                      >{% trans "View more"%} <img src="{% static 'main/images/bluearight.png' %}" alt=">"
                    /></a>
                  </div>
                 {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   <!-- Footer -->
    <footer>
      <div class="footer flex justify_center align_center">
        <h1>{% trans "All rights reserved enviro chemicals" %}</h1>
        <div class="container justify_flexEnd">
          <div class="socials flex align_center">
            <h2>{% trans "Biz ijtimoiy tarmoqlarda" %}</h2>
            <ul class="flex">
              <li>
                <a href="#"
                  ><img src="{% static 'main/images/icons/facebook.png' %}" alt="facebook"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{% static 'main/images/icons/instagramm.png' %}" alt="instagramm"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{% static 'main/images/icons/telegram.png' %}" alt="telegram"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{% static 'main/images/icons/telegram.png' %}" alt="yanatelegram"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div class="order_now none" id="order-now">
      <div class="overlay"></div>
      <div class="order_section">
        <form method="post">
           {% csrf_token %}
        <h1>{% trans 'Order now' %}</h1>
        <button class="close" id="close">
          <img src="{% static 'main/images/close.png' %}" alt="x" />
        </button>
        <label>{% trans 'Ism' %}</label>
        <input type="text" name="name" placeholder="{% trans 'Ismingizni kiriting!'%}" />
        <label>{% trans 'Telefon raqami'%} </label>
        <input type="text" name="number" value="+998" />
        <label>{% trans 'Mail' %}</label>
        <input type="text" name="email" placeholder="{% trans 'Email pochtangizni kiriting!'%}" />
        <input type="hidden" name="p_title" value="{{item.title}}">
        <input type="hidden" name="p_body" value="{{item.body}}">
        <button class="btn send" type="submit" id="send-next">{% trans 'Send' %}</button>
          </form>
      </div>
    </div>

    <div class="successfully none" id="successfully">
      <div class="overlay"></div>
      <div class="order_section successfully_section">
        <div class="successfull_img">
          <img src="{% static 'main/images/headset.png' %}" alt="headset" />
        </div>
        <h1>{% trans "Successfully send" %}</h1>
        <p>{% trans "Operators will contact you shortly!" %}</p>
        <button class="btn send" id="close-successfully">{% trans "Okay" %}</button>
      </div>
    </div>

    <script src="{% static 'main/JS/nav.js' %}"></script>
    <script src="{% static 'main/JS/main1.js' %}"></script>
  </body>
</html>
