{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}



    <!-- Building Datas-->
    <section
      class="building_datas flex justify_center flex_column align_center"
    >
      <div class="container back_btn_left">
        <button class="btn_light bbtn back_btn">
          <a href="javascript:history.back()"
            ><img src="{% static 'main/images/back.png' %}" alt="<" /> {% trans 'Back' %}</a
          >
        </button>
      </div>
      <div class="container align_center justify_center">
        <div class="materials_datas">
          <div class="material_data1 flex align_center justify_between">
            <div class="img_datas">
              <img src="{{item.image.url}}" alt="material" />
            </div>
            <div class="characters flex flex_column justify_between">
              <h1>{{item.title}}</h1>
              <p class="paragrapgh">
                {{item.body}}
              </p>
              <div class="characs">
                <div class="characs_conten flex justify_between align_center">
                  <p>Shape</p>
                  <div class="hr_item"></div>
                  <h3>{{item.shape}}</h3>
                </div>
                <div class="characs_conten flex justify_between align_center">
                  <p>Weight</p>
                  <div class="hr_item"></div>
                  <h3>{{item.weight}}</h3>
                </div>
                <div class="characs_conten flex justify_between align_center">
                  <p>Color</p>
                  <div class="hr_item"></div>
                  <h3>{{item.color}}</h3>
                </div>
                <div class="characs_conten flex justify_between align_center">
                  <p>Packing specifications</p>
                  <div class="hr_item"></div>
                  <h3>{{item.packing_specifications}}</h3>
                </div>
              </div>
              <button class="btn buildbtn" id="pricing">{% trans 'Order now' %}</button>
            </div>
          </div>
          <div class="material_data2_all">
            <div class="material_tit flex align_center justify_between">
              <h1>{% trans "Similar products"%}</h1>
            </div>
            <div class="material_data2 ">
              <div class="slider_btn">
                <button class="btn left_arr">
                  <img src="{% static 'main/images/icons/allow_right.png' %}" alt="<" />
                </button>
                <button class="btn right_arr">
                  <img src="{% static 'main/images/icons/allow_right.png' %}" alt=">" />
                </button>
              </div>
<!--              <div class="bulding_items flex justify_between align_center">-->
                <div class="building_anim" id="bulding-anim"></div>

            </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--    <script src="{% static 'main/JS/building.js' %}"></script>-->

{% endblock %}

{% block content2 %}



    <div class="order_now none" id="order-now">
      <div class="overlay"></div>
      <div class="order_section">
        <form method="post">
           {% csrf_token %}
        <h1>{% trans 'Order now' %}</h1>
        <button class="close" id="close">
          <img src="{% static 'main/images/close.png' %}" alt="x" />
        </button>
        <label>{% trans 'Ism' %}</label>
        <input type="text" name="name" placeholder="{% trans 'Ismingizni kiriting!'%}" />
        <label>{% trans 'Telefon raqami'%} </label>
        <input type="tel"
                    id="number"
                    name="number"
                    maxlength="12"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    placeholder="998941170309"
                    required />
        <label>{% trans 'Mail' %}</label>
        <input type="email" name="email" placeholder="{% trans 'Email pochtangizni kiriting!'%}" />
        <input type="hidden" name="p_title" value="{{item.title}}">
        <input type="hidden" name="p_body" value="{{item.body}}">
        <button class="btn send" type="submit" id="send-next">{% trans 'Send' %}</button>
          </form>
      </div>
    </div>
    {% if success %}
    <div class="successfully " id="successfully">
      <div class="overlay"></div>
      <div class="order_section successfully_section">
        <div class="successfull_img">
          <img src="{% static 'main/images/headset.png' %}" alt="headset" />
        </div>
        <h1>{% trans "Successfully send" %}</h1>
        <p>{% trans "Operators will contact you shortly!" %}</p>
        <button class="btn send" id="close-successfully">{% trans "Okay" %}</button>
      </div>
    </div>
  {% endif %}

<script>
  // Building Materials
const buldingAnim = document.getElementById("bulding-anim");

let buildingNames = [
   {% for i in objs %}
      "{{i.title}}",
 {% endfor %}
];
let buildingImages = [
  {% for i in objs %}
      "{{i.image.url}}",
 {% endfor %}
];
let buildingText = [
  {% for i in objs %}
      "{{i.body}}",
 {% endfor %}
];

let buildingH = [
  {% for i in objs %}
      "{% url 'buildingdata' i.group_id i.id  %}",

 {% endfor %}
];


buildingNames.forEach((item, i) => {
  buldingAnim.innerHTML += `
    <div class="material">
        <div class="mimg">
            <img src="${buildingImages[i]}" alt="material" />
        </div>

        <h1>${item}</h1>

        <p>
            ${buildingText[i]}
        </p>

        <a href="${buildingH[i]}">
            View more >
        </a>
    </div>
  `;
});
// Build slider
const material = document.getElementsByClassName("material");
let index = 0;

function sliderFunc() {
  if (window.screen.width <= 480) {
    if (index >= 6) {
      index = 0;
    } else if (index < 0) {
      index = 5;
    }

    buldingAnim.style.transform = `translate(-${index * 16.66666}%)`;
  } else {
    if (index >= 2) {
      index = 0;
    } else if (index < 0) {
      index = 1;
    }
    buldingAnim.style.transform = `translate(-${index * 50}%)`;
  }
}

function rightSlideBuild() {
  index++;
  sliderFunc();
}

function leftSlideBuild() {
  index--;
  sliderFunc();
}

const pricing = document.getElementById("pricing");
const orderNow = document.getElementById("order-now");
const successfully = document.getElementById("successfully");
const closeOrder = document.getElementById("close");
const closeSuccessfully = document.getElementById("close-successfully");
<!--const sendNext = document.getElementById("send-next");-->

pricing.addEventListener("click", (e) => {
  e.preventDefault();
  orderNow.classList.remove("none");
});

closeOrder.addEventListener("click", (e) => {
  e.preventDefault();
  orderNow.classList.add("none");
});

<!--sendNext.addEventListener("click", (e) => {-->
<!--  e.preventDefault();-->
<!--  if (isTrue1 && isTrue2 && isTrue3) {-->
<!--    successfully.classList.remove("none");-->
<!--    orderNow.classList.add("none");-->
<!--  }-->
<!--});-->

closeSuccessfully.addEventListener("click", (e) => {
  e.preventDefault();
  successfully.classList.add("none");
  orderNow.classList.add("none");
});

</script>

{% endblock %}