{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block content%}

    <!-- Media -->
     <section>
      <div class="media" id="media">
        <div class="all_media flex flex_column justify_center align_center">
          <div class="container">
            <h1>Media</h1>
          </div>
          <div class="container flex_column">
            <div class="first_row">
              <div class="media_left mediaImg_item">
                <img src="{{oav.0.image_1.url}}" alt="media" />
                <div class="overlay_ImgText"></div>

                <div class="img_text">
                  <h1 class="imgText_title">{{oav.0.title_1}}</h1>
                  <p class="imgText_p">
                    {{oav.0.body_1}}
                  </p>
                </div>
              </div>
              <div class="media_right mediaImg_item">
                <img src="{{oav.0.image_2.url}}" alt="" />
                <div class="overlay_ImgText"></div>

                <div class="img_text">
                  <h1 class="imgText_title">{{oav.0.title_2}}</h1>
                  <p class="imgText_p">
                      {{oav.0.body_2}}
                  </p>
                </div>
              </div>
            </div>
            <div class="second_row">
              <div class="media_left mediaImg_item">
                <img src="{{oav.1.image_1.url}}" alt="" />
                <div class="overlay_ImgText"></div>

                <div class="img_text">
                  <h1 class="imgText_title">{{oav.1.title_1}}</h1>
                  <p class="imgText_p">
                      {{oav.1.body_1}}
                  </p>
                </div>
              </div>
              <div class="media_right mediaImg_item">
                <img src="{{oav.1.image_2.url}}" alt="media" />
                <div class="overlay_ImgText"></div>

                <div class="img_text">
                  <h1 class="imgText_title">{{oav.1.title_2}}</h1>
                  <p class="imgText_p">
                          {{oav.1.body_2}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<script src="{% static 'main/JS/main.js' %}"></script>
{% endblock %}
