{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<!-- Products -->
<section>
    <div class="products flex justify_center align_center" id="products">
        <div class="container">
            <h1 class="pro_title text_align mt_40">{% trans 'Products' %}</h1>
        </div>
        <div class="products_contents flex justify_center">
            <div class="container justify_between align_center">

               {% for p in products %}
            <div class="pro_con">
              <img src="{{p.icon.url}}" alt="Products" />
              <h1>{{p.title}}</h1>
              <p>
                {{p.body}}
              </p>
<!--              <button >-->
                <a class="btn_light" href="{% url 'building' p.id %}">{% trans 'View more' %}</a>
<!--              </button>-->
            </div>
            {% endfor %}

            </div>
        </div>
    </div>
</section>
<script src="{% static 'main/JS/main.js' %}"></script>
{% endblock %}
