{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% trans 'Chemical' %}</title>
    <link rel="stylesheet" href="{% static 'main/CSS/style.css' %}" />
     <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TXW2XP2");
    </script>
    <!-- End Google Tag Manager -->


  </head>
<body>
 <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TXW2XP2"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
     <div class="overlay none" id="overlay"></div>

    <!-- Header -->
    <header>
      <nav class="flex justify_center">
        <div class="container justify_center">
          <div class="burMenu none" id="bur-menu">
            <button class="close" onclick="closeNav()">
              <img src="{% static 'main/images/close.png' %}" alt="" />
            </button>
            <ul class="ul">
              <li><a href="{% url 'home' %}#about">{% trans "About us" %}</a></li>
              <li><a href="{% url 'product' %}">{% trans "Products" %}</a></li>
              <li><a href="{% url 'media' %}" target="_self">{% trans  "Media" %}</a></li>
              <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
            </ul>
          </div>
          <div class="navbar">
            <div class="navbarText">
              <div class="logo">
                <a href="{% url 'home' %}">
                  <img src="{% static 'main/images/logo.png' %}" alt="logo" />
                </a>
              </div>
              <div class="burgerMenu">
                <img
                  src="{% static 'main/images/icons/burger_menu.png' %}"
                  alt="menu"
                  class="burger_menu"
                  onclick="openNav()"
                />
              </div>
              <div class="menu">
                <ul class="flex justify_center align_center">
                     <li><a href="{% url 'home' %}#about">{% trans "About us" %}</a></li>
              <li><a href="{% url 'product' %}">{% trans "Products" %}</a></li>
              <li><a href="{% url 'media' %}" target="_self">{% trans  "Media" %}</a></li>
              <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
                </ul>
              </div>
            </div>
            <div class="lang">
              <div class="dropdown">
                <img src="{% static 'main/images/icons/Globe.png' %}" alt="Globe" />
                <div class="drop_btn flex align_center justify_center">
                   {% get_current_language as LANGUAGE_CODE %}
                   {% get_available_languages as LANGUAGES %}
                   {% get_language_info_list for LANGUAGES as languages %}
                  <button class="dropbtn_item" onclick="openDrop()">{{LANGUAGE_CODE}}</button>
                  <img
                    src="{% static 'main/images/icons/fi-rr-angle-small-down.png' %}"
                    alt="Down"
                    onclick="openDrop()"
                  />
                </div>
                <div class="dropdown-content none" id="dropdown-content">
                  {% for lang in languages %}

              <a class="dropdown-item" href="/{{ lang.code }}/">
                  {{ lang.code }}
              </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      {% block content1 %}

      {% endblock %}
    </header>

    {% block content %}

     {% endblock %}

 <footer>
       <div class="footer flex justify_center align_center">
        <h1>{% trans 'All rights reserved enviro chemicals' %}</h1>
        <div class="container justify_flexEnd">
          <div class="socials flex align_center">
            <ul class="flex">
              <li>
                <a href="#"
                  ><img src="{% static 'main/images/icons/telegram.png' %}" alt="telegram"
                /></a>
              </li>
              <li>
                <a href="#"
                  ><img src="{% static 'main/images/icons/whatsapp.png' %}" alt="Whatsapp"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>




  {% block content2 %}

      {% endblock %}

    <script src="{% static 'main/JS/nav.js' %}"></script>
     <script src="{% static 'main/JS/regEx.js' %}"></script>


</body>

</html>