{% extends 'main/base.html' %}
{% load i18n %}
{% load static %}
{% block content1 %}
      <div class="banner flex justify_center">
        <div class="container flex">
          <div class="banner_items flex justify_between align_center">
            <div class="bannerItems_anim" id="banner-animate"></div>
          </div>
          <div class="banner_bg" id="banner-img">
            <img
              src="{% static 'main/images/header_person0.png' %}"
              alt="Person"
              class="bimgper"
            />
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}


    <!-- Why Us -->
    <section>
      <div class="why_us">
        <h1 class="why_title"><span class="blue">{% trans 'Why'%}</span> {% trans 'us?' %}</h1>
        <div class="why_us_contents flex justify_center align_center">
          <div class="why_us_content1 flex justify_center align_center">
            <div class="container justify_between">
              <div class="content long_content">
                <div class="con_img">
                  <div class="con_img_bg flex justify_center align_center">
                    <img src="{{whyus.0.image.url}}" alt="yorliq" />
                  </div>
                </div>
                <div class="con_titles flex justify_center">
                  <h1>{{whyus.0.title}}</h1>
                  <p>
                      {{whyus.0.body}}
                  </p>
                </div>
              </div>
              <div class="content short_content">
                <div class="con_img">
                  <div class="con_img_bg flex justify_center align_center">
                    <img src="{{whyus.1.image.url}}" alt="ok" />
                  </div>
                </div>
                <div class="con_titles">
                  <h1>{{whyus.1.title}}</h1>
                  <p>
                    {{whyus.1.title}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="why_us_content2 flex justify_center align_center">
            <div class="container justify_between">
              <div class="content short_content">
                <div class="con_img">
                  <div class="con_img_bg flex justify_center align_center">
                    <img src="{{whyus.2.image.url}}" alt="dollor" />
                  </div>
                </div>
                <div class="con_titles">
                  <h1>{{whyus.2.title}}</h1>
                  <p>
                    {{whyus.2.body}}
                  </p>
                </div>
              </div>
              <div class="content long_content">
                <div class="con_img">
                  <div class="con_img_bg flex justify_center align_center">
                    <img src="{{whyus.3.image.url}}" alt="lampa" />
                  </div>
                </div>
                <div class="con_titles">
                  <h1>{{whyus.3.title}}</h1>
                  <p>
                      {{whyus.3.body}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Products -->
    <section>
      <div class="products" id="products">
        <h1 class="pro_title">{% trans 'Products' %}</h1>
        <div class="products_contents flex justify_center align_center">
          <div class="container justify_between align_center">
           {% for p in products %}
            <div class="pro_con">
              <img src="{{p.icon.url}}" alt="Products" />
              <h1>{{p.title}}</h1>
              <p>
                {{p.body}}
              </p>
<!--              <button class="btn_light">-->
                <a class="btn_light" href="{% url 'building' p.id %}">{% trans 'View more' %}</a>
<!--              </button>-->
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>

    <!-- About Us -->
    <section>
      <div class="about_us" id="about">
        <div class="container">
          <div class="about_contents">
            <div class="about_content1">
              <img src="{% static 'main/images/about_man.png' %}" alt="about us" />
            </div>

            <div class="about_content2">
              <h1>{{aboutus.0.title}}</h1>
              <p>
                {{aboutus.0.body}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Clients -->
<!--    <section>-->
<!--      <div class="clients">-->
<!--        <div class="container">-->
<!--          <div class="all_csection">-->
<!--            <h1>{% trans 'Clients' %}</h1>-->
<!--            <div-->
<!--              class="clients_logos flex flex_column justify_center align_center"-->
<!--            >-->
<!--              <div class="slider_btn">-->
<!--                <button class="btn left_arr clients_btn_left">-->
<!--                  <img src="{% static 'main/images/icons/allow_right.png' %}" alt="" />-->
<!--                </button>-->
<!--                <button class="btn right_arr clients_btn_right">-->
<!--                  <img src="{% static 'main/images/icons/allow_right.png' %}" alt="" />-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="client_logos_img">-->

<!--               {% for image in clients %}-->
<!--                <img-->
<!--                  src="{{image.image.url}}"-->
<!--                  alt="logoIPsum"-->
<!--                  class="block"-->
<!--                />-->
<!--                {% endfor %}-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->
<section>
      <div class="clients">
        <div class="container">
          <div class="all_csection">
            <h1>Clients</h1>
            <div
              class="clients_logos flex flex_column justify_center align_center"
            >
              <div class="client_logos_img" id="client-images"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Address -->
    <section>
      <div class="address flex align_center justify_center" id="contact">
        <div class="container" style="justify-content: flex-end">
          <div class="address_map">
<!--            <img src="{% static 'main/images/mapImg.png' %}" alt="map" class="addmap" />-->
<!--            <div class="location">-->
<!--              <img src="{% static 'main/images/location.png' %}" alt="location" />-->

<!--            </div>-->
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2915.649238764049!2d69.23286471047837!3d41.21993418794992!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfdc14a379b48620!2zNDHCsDEzJzEwLjkiTiA2OcKwMTMnNTguMSJF!5e0!3m2!1suz!2s!4v1669345485961!5m2!1suz!2s"
              width="750"
              height="550"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
            <div class="address_contacts">
              <div class="contents_data">
                <div class="top_data">
                  <img src="{% static 'main/images/icons/fi-rr-phone-call.png' %}" alt="phone" />
                  <p>{% trans "Phone number" %}</p>
                </div>
                <h1>{{sitecontact.0.number}}</h1>
              </div>
              <div class="contents_data">
                <div class="top_data">
                  <img src="{% static 'main/images/icons/mail.png' %}" alt="email" />
                  <p>{% trans "E-mail" %}</p>
                </div>
                <h1>{{sitecontact.0.email}}</h1>
              </div>
              <div class="contents_data">
                <div class="top_data">
                  <img src="{% static 'main/images/icons/address.png' %}" alt="Adress" />
                  <p>{% trans "Adress" %}</p>
                </div>
                <h1>{{sitecontact.0.address}}</h1>
              </div>
            </div>
          </div>
          <div class="form_cons">
            <div class="form_section">
              <h1>{% trans 'Contact us' %}</h1>
              <form class="form" method="post">
               {% csrf_token %}
                <div class="name">
                <label for="name">{% trans 'Name' %}</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="{% trans 'Ismingizni kiriting!' %}"
                />
              </div>
              <div class="number">
                <label for="number">{% trans 'Phone number' %}</label>
                <input
                  type="tel"
                    id="number"
                    name="number"
                    maxlength="12"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    placeholder="998941170309"
                    required                />
              </div>
              <div class="email">
                <label for="email">{% trans 'Email' %}</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="{% trans 'Email pochtani kiriting' %}"
                />
              </div>
                <button class="btn send" id="send">{% trans "Send" %}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% if success%}
    <div class="successfully " id="successfully">
      <div class="overlay"></div>
      <div class="order_section successfully_section">
        <div class="successfull_img">
          <img src="{% static 'main/images/headset.png' %}" alt="headset" />
        </div>
        <h1>{% trans "Successfully send" %}</h1>
        <p>{% trans "Operators will contact you shortly!" %}</p>
        <button class="btn send" id="close-successfully">{% trans "Okay" %}</button>
      </div>
    </div>
    {% endif %}
<script>
    // Slider

const bannerAnimate = document.getElementById("banner-animate");
const bannerImg = document.getElementById("banner-img");
let count = 0;

const changeTitle = [
{% for item in mains %}

  "{{item.title}}",

  {% endfor %}
];
const changeB = [
{% for item in mains %}

  "{{item.body}}",

  {% endfor %}
];

const changeI = [
{% for item in mains %}

  "{{item.image.url}}",

  {% endfor %}
];

const changeClients = [
{% for item in clients %}

  "{{item.image.url}}",

  {% endfor %}
];



changeTitle.forEach((item, i) => {
  bannerAnimate.innerHTML += `
    <div class="products_change flex justify_evenly align_center">
        <h1 class="prodtitle">
            ${item}
        </h1>

        <p>
            ${changeB[i]}
        </p>
    </div>
  `;
});

function changeSlider() {
  if (count >= changeTitle.length) {
    count = 0;
  } else if (count < 0) {
    count = changeTitle.length - 1;
  }

  if (window.screen.width <= 480) {
    bannerAnimate.style.transform = `translate(-${count * 311}px)`;

    bannerImg.innerHTML = `
    <img src="${changeI[count]}" alt="Person" class="bimgper" />
    `;
  } else {
    bannerImg.innerHTML = `
    <img src="${changeI[count]}" alt="Person" class="bimgper" />
    `;
    bannerAnimate.style.transform = `translate(-${count * 34.875}rem)`;
  }
}

setInterval(() => {
  rightSlider();
}, 3000);

function leftSlider() {
  count--;
  changeSlider();
}
function rightSlider() {
  count++;
  changeSlider();
}

// Clients
const clientImages = document.getElementById("client-images");
const images = [0, 1, 2, 3, 4, 5, 6, 7, 8];
let clientIndex = 0;

changeClients.forEach((item) => {
  clientImages.innerHTML += `
      <img src='${item}' alt="logoIPsum" />
  `;
});

function clientSlider() {
  if (clientIndex >= images.length) {
    clientIndex = 0;
  } else if (clientIndex < 0) {
    clientIndex = images.length - 1;
  }

  clientImages.style.transform = `translate(-${clientIndex * 100}%)`;
}

if (window.screen.width <= 480) {
  setInterval(() => {
    rightClientSlider();
  }, 1500);
}

function leftClientSlider() {
  clientIndex--;
  clientSlider();
}
function rightClientSlider() {
  clientIndex++;
  clientSlider();
}

</script>
<script src="{% static 'main/JS/main1.js' %}"></script>
{% endblock %}